{% extends 'base.html' %}

{% block content %}
<h2>Вопросы по теме</h2>
<hr>
<form action="{{ url_for('articles.get_tasks', id=article.id) }}" method="post">
    {% for task in article.tasks %}
    {% set group_name = 'task-' + (task.id|string) %}
    <div class="border border-secondary rounded p-2 m-1"
         {% if request.method == 'POST' %}
         style="background-color:
            {% if request.form[group_name] == 'True' %}
            #80917E
            {% else %}
            #9D8888
            {% endif %}"
        {% endif %} >

        <h3>{{ task.task }}</h3>
        <p>{{ task.comment }}</p>
        <div class="form-check">
            {% for answer in task.answer %}
            <label><input type="radio" name="{{ group_name }}" value="{{ answer.right }}" class="m-1">{{answer.answer}}</label><br>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
    <hr>

    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-secondary">Проверить ответы</button>
    </div>
</form>
{% endblock %}